<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static\assets\styles.css">
    <title>Водолей</title>
    <header>
        <center>
            <h1>ВОДОЛЕЙ</h1>
        </center>
    </header>
</head>
<body>
    <div class="asd">
        <div class="txt">
            <center><h1 class="xarki">Водолей — характеристика знака зодиака</h1></center>
            <p>Водолей - одаренный воображением, идеалистический, интуитивный</p>
            <p>Знак фиксированного креста стихии Воздуха — Водолей изменчив по натуре, но не любит перемены, полон противоречий. Яркий индивидуалист, Водолей склонен к перепадам настроения, то элегантен, то неряшлив, страдает отсутствием самодисциплины, решителен и обладает ярким темпераментом. Не выносит рутины и скучных обязанностей. Независимость — как главное условие деятельности.</p>
            <p>Водолея можно представить как некого прогрессивного мудреца гороскопа. И это неслучайно, ведь он является одним из завершающих знаков зодиака, находящихся в зоне Учителя, который впитал в себя весь коллективный опыт и имеет доступ к более сложным энергиям. </p>
            <center><h2 class="temp">Темперамент и характер Водолея</h2></center>
            <p>Водолей наделен творческой энергией, оптимизмом и развитой интуицией. Часто обладают привлекательной внешностью и интеллектуально одарены. Сильная впечатлительность, умение завязывать приятельские отношения и нужные связи, оригинальные идеи и взгляд на мир, делают Водолея незаменимым другом и единомышленником. С Водолеем хорошо начинать новые проекты, которые кажутся фантастическими, но обычно опережают свое время.</p>
            <p>Основное определение, которое подходит к характеру Водолея — реалист, который стремится изменить мир к лучшему. Больше всего Водолей любит две вещи — учиться, получать новые знания и навыки и путешествовать. В нем всегда бурлит творческая энергия, гениальные мысли, планы и задумки. При этом Водолей никогда не остановится на половине пути к намеченной цели и всегда будет идти до победного конца. Люди этого знака зодиака не надеются на «авось», всегда трезво оценивают ситуацию, а столкнувшись с проблемой, хорошо обдумывают пути ее решения. Также стоит отметить, что Водолей не терпит рутинности. Оригинальный взгляд на мир и любовь к экспериментам делает Водолея интересным собеседником, а веселый и общительный характер — душой компании. Он с легкостью заводит новые знакомства, покоряя своей открытостью, непринужденностью и смелыми суждениями.</p>
            <center><h3 class="storoni">Сильные и слабые стороны Водолея</h3></center>
            <p>Несерьезное отношение к делу, легкомыслие в связях, непостоянство увлечений — основные недостатки Водолея. Могут быть слишком эксцентричны в манерах и внешнем виде. Низкая концентрация мешает довести дело до конца. Водолей может разбрасываться среди многочисленных возможностей и личных интересов, не используя благоприятные шансы. Водолей зависит от окружения, часто превосходит других интеллектуально. Всегда стремится к духовному росту, но при этом потакает своим слабостям, безволен и внушаем. Cреди слабых сторон Водолея можно отметить некоторую импульсивность и эксцентричность, повышенное самомнение, а иногда — излишнюю резкость в суждениях или путях достижения своих целей.</p>
            <p>Если говорить о сильных сторонах Водолея, то, в первую очередь, это его целеустремленность, умение найти выход из любой сложной ситуации, ответственность за себя и своих близких. Причем ответственны Водолеи во всем — на работе, перед начальством, перед друзьями, а главное — перед своей семей. А еще Водолеи довольно часто бывают прекрасными родителями, которые умеют найти подход к своим детям, не ограничиваясь скучными штампами из книг по воспитанию.</p>
            <center><h4 class="love">Любовь и совместимость</h4></center> 
            <p>По большей части Водолей равнодушен к пылким страстям и любовным переживаниям. Водолеи не будут мучиться ревностью и подозрениями, терзая себя и своего партнера. Во время ссор не стоит ждать от них бурных выяснений отношений или уж тем более агрессии и жестокости.</p>
            <p>Делая выбор в отношении спутника жизни, Водолей больше руководствуется разумом, нежели сердцем. В качестве партнера этот знак зодиака всегда предпочтет человека, который будет считаться с его мнением, уважать выбор и личные границы, поддержит во всех новых начинаниях и будет стремиться к самосовершенствованию. Не менее значим и душевный комфорт, который очень важен для Водолея, поэтому он будет искать его в отношениях.</p>
            <p>Совместимость Водолея со знаками зодиака</p>
            <ul>              
                <li>Водолей и Овен - 72%</li>
                <li>Водолей и Телец - 56%</li>
                <li>Водолей и Близнецы - 78%</li>
                <li>Водолей и Рак - 61%</li>
                <li>Водолей и Лев - 78%</li>
                <li>Водолей и Дева - 38%</li>
                <li>Водолей и Весы - 89%</li>
                <li>Водолей и Скорпион - 50%</li>
                <li>Водолей и Стрелец - 75% </li>
                <li>Водолей и Козерог - 67% </li>
                <li>Водолей и Водолей - 76% </li>
                <li>Водолей и Рыбы - 71%</li>         
            </ul>
            <p>Лучший союз ждет Водолея с Раками, Близнецами и Весами – представители этих знаков также ценят в отношениях тонкости и детали. Сложный, но яркий союз ожидает Водолеев с Овнами и представителями своего знака. Плохой союз астрологи прочат Водолеям со Скорпионами и Львами, чья деятельная и кипучая активность не находит отклика в несколько мистическом и загадочном образе мыслей Водолея.</p>

        </div>
    </div>
</body>