<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static\assets\styles.css">
    <title>Овен</title>
    <header>
        <center>
            <h1>ОВЕН</h1>
        </center>
    </header>
</head>
<body">
    <div class="asd">
        <div class="txt">
            <center><h1 class="xarki">Овен — характеристика знака зодиака</h1></center>
            <p>Овен - амбициозный, независимый, нетерпеливый</p>
            <p>Овен, знак стихии Огня, открывает новый зодиакальный цикл, относится к стихии Огня, обладает особенной харизмой (качеством) первооткрывателя, инициативой и целеустремленностью. Даже обладающие спокойным темпераментом, Овны никогда не забывают про свои цели и, как правило, рано или поздно достигают желаемого. Инициатива и активность представителей этого знака позволяет находить новые задачи, которые Овен ставит перед своими последователями.</p>
            <p>Загореться идеей и зажечь ее огонь для других для Овна важнее, чем довести дело до конца. Рутинные обязанности, последовательность и педантичность — не являются сильными чертами этого знака. Напор, кратковременное мощное усилие, поиск цели и разведка боем — вот что выгодно отличает Овна от других знаков зодиака.</p>      
            <center><h2 class="temp">Темперамент и характер Овна</h2></center>     
            <p>Влияние Марса и Солнца дает искру, неустанное движение и склонность к преувеличению. Но Овны сделают все, чтобы избежать скуки и подавленности.</p>
            <p>Овны больше чувствуют, чем размышляют. Они могут быть крайне великодушны и обожают делать подарки и отдавать приказы.</p>
            <p>Целеустремленность Овна также обеспечивает его энергией ненадолго. Быстрая потеря интереса к начатому, потребность в новых впечатлениях часто толкает Овна к рискованным занятиям и профессиям. В общении прямолинейны, иногда даже слишком, но искренни как дети. Эта искренность часто граничит с бестактностью, может обернуться грубостью. Но сами Овны долго не могут держать обиду, резко рвут отношения, не сожалея о прошлом.</p>
            <p>Если кто-то или что-то вызывает интерес, то Овен готов преодолеть любые препятствия, чтобы приблизится к желаемому объекту, но часто быстро разочаровывается и в людях, и в занятиях.</p>
            <p>Представители первого знака стихии Огня движимы высокими идеалами, возвышенными чувствами, в том числе гармонией и красотой.</p>
            <center><h3 class="storoni">Сильные и слабые стороны Овна</h3></center>
            <p>Если Овен что-то задумал, не стоит ему препятствовать, так как он будет из упрямства добиваться желаемого всеми силами. Овен бесстрашен, горяч и эгоистичен.</p>  
            <p>Овны не терпят, когда им указывают и требуют от них подчинения, они предпочитают работать на себя или занимать руководящие посты. Овен может долгое время не замечать происки врагов, поэтому с бедой сталкивается неожиданно.</p> 
            <p>Слабые стороны Овна — упрямство, переоценка своих сил, нетерпеливость. Неумение слушать чужие советы, нежелание подчиняться условностям приводят к тому, что они часто попадают в затруднительные ситуации. Такое поведение мешает в построении карьеры и налаживании нужных связей. Овну нужно научиться быть терпимее к другим. В его Овна полосы успеха чередуются с периодами неудач.</p>
            <center><h4 class="love">Любовь и совместимость</h4></center>  
            <p>Овен – типичный сердцеед, который рано познает вкус любви. Люди, которым он симпатизирует, часто остаются без внимания. Чтобы ощутить всю полноту чувств, ему необходимо завоевывать объект любви. Для этого проявляет щедрость, романтичность и изобретательность. Добившись своего, чувствует себя хозяином положения. Отказ заставляет его разувериться в себе и разжигает в нем мстительность и коварство.</p>
            <p>Любовь очень много значит для представителей этого огненного знака. Влюбчивость не мешает длительным отношениям, если партнер умеет сохранить интерес к себе, разделяет разнообразные интересы Овна и готов к приключениям. Верность своим идеалам и цельность натуры — это главное качество Овна, позволяющее создавать долгосрочные союзы. В любви страстны и настойчивы, иногда деспотичны.</p>
            <p>Требуют полной отдачи от возлюбленных, но сами считают свою эмоциональность слабым местом, стараются подавлять чувства, чтобы не впасть в зависимость от любимого человека.</p>
            <p>Совместимость Овна со знаками зодиака</p>
            <ul>              
                <li>Овен и Овен - 45%</li>
                <li>Овен и Телец - 73%</li>
                <li>Овен и Близнецы - 46%</li>
                <li>Овен и Рак - 47%</li>
                <li>Овен и Лев - 59%</li>
                <li>Овен и Дева - 48%</li>
                <li>Овен и Весы - 66%</li>
                <li>Овен и Скорпион - 59%</li>
                <li>Овен и Стрелец - 67% </li>
                <li>Овен и Козерог - 43% </li>
                <li>Овен и Водолей - 89% </li>
                <li>Овен и Рыбы - 43%</li>         
            </ul>
            <p>Лучшие союзы получаются с Близнецами и Водолеями.</p>
        </div>
</body>
