<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static\assets\styles.css">
    <title>Рак</title>
    <header>
        <center>
            <h1>РАК</h1>
        </center>
    </header>
</head>
<body>
    <div class="asd">
        <div class="txt">
            <center><h1 class="xarki">Рак — характеристика знака зодиака</h1></center>
            <p>Рак - интуитивный, эмоциональный, умный, страстный</p>
            <p>Знак стихии Воды находится под покровительством ночного светила. Управление Луны влияет на характер представителей этого знака, делая их ранимыми и чувствительными людьми. Луна и водная стихия знака дают Раку способность к эмпатии, возможность мгновенно угадывать мысли и чаяния других людей. Это решительные и благородные люди, часто патриоты. Но если жизнь Рака была полна лишений и несправедливости с детства, то обладают коварством и харизмой гангстера.</p>
            <p>Влияют на других людей, могут подчинить себе ради достижения общей цели или выживания. Жесткие и проницательные руководители.</p>
            <center><h2 class="temp">Темперамент и характер Рака</h2></center>
            <p>Рак — самый эмоциональный знак среди всего зодиака. Но сам не любит делиться личными эмоциями. Чувства и настроение окружающих Рак понимает мгновенно, но редко откровенен. Проблема с выражением своих чувств связана с защитными психическими механизмами. С ранних лет Рак выстраивает личную систему защиты от нечаянного проникновения в душу, обрастает стереотипами и предрассудками. Очень привязан к семье, особенно к матери.</p>
            <p>Интеллект западает в душу от "темноты". Рак обладает хорошим интеллектом, невероятной памятью, он только не должен пользоваться ею для самокопания, сожаления и мести.</p>
            <p>Рак впитывает чувства и эмоции окружающих, но свои старается держать при себе. Любит проявлять инициативу и в работе, и в личных отношениях, безошибочно выбирая соратников и полезных людей. Рак — прирожденный психолог, с глубоким пониманием причин явлений, сильным желанием добраться до сути проблемы. Их трудно обмануть, но легко обидеть. Это знак накопления, сохранения и умелого использования всех ресурсов, в первую очередь, семейных.</p>
            <center><h3 class="storoni">Сильные и слабые стороны Рака</h3></center>
            <p>У Раков глубокие семейные ценности, поэтому они по праву занимают первое место среди двенадцати знаков зодиака как лучшие семьянины. Представители этого знака готовы на самопожертвование ради других людей. Это делает их надежными друзьями и партнерами. У Раков великолепная фантазия, поэтому они часто выбирают для себя творческие профессии. Этот знак обладает очень сильной интуицией. </p>
            <p>Но при всем этом раки больше других склонны к эмоциональному выгоранию. В течение всей жизни им приходится прикладывать довольно много усилий, чтобы научиться управлять своими эмоциями. Эти люди склонны к самоанализу и самобичеванию. Никто так сильно не сможет раскритиковать Рака, как он сам. Переживаниями он может довести себя до нервного истощения, поэтому важно иметь адекватное окружение, которое вовремя отвлечет и подбодрит его.</p>
            <center><h4 class="love">Любовь и совместимость</h4></center>
            <p>Раков часто можно заметить в созависимых отношениях. Особенно в юном возрасте. Они готовы к самопожертвованию ради счастья и благополучия своего партнера. Эти люди склонны отдавать себя без остатка отношениям. Чтобы не стать жертвой недобросовестного человека, Ракам стоит выдерживать более длительные паузы перед тем как сблизиться с кем-то и дать потенциальному партнеру время, чтобы поступками доказать серьезность своих намерений.</p>
            <p>Рак никогда не сможет простить измены, для него это слишком глубокая эмоциональная рана, которая не затянется и не даст сохранить отношения, даже если оба партнера этого сильно захотят.</p>
            <p>Совместимость Рака со знаками зодиака</p>
            <ul>              
                <li>Рак и Овен - 48%</li>
                <li>Рак и Телец - 92%</li>
                <li>Рак и Близнецы - 67%</li>
                <li>Рак и Рак - 51%</li>
                <li>Рак и Лев - 95%</li>
                <li>Рак и Дева - 87%</li>
                <li>Рак и Весы - 74%</li>
                <li>Рак и Скорпион - 79%</li>
                <li>Рак и Стрелец - 55% </li>
                <li>Рак и Козерог - 56% </li>
                <li>Рак и Водолей - 71% </li>
                <li>Рак и Рыбы - 73%</li>         
            </ul>
            <p>Рак - это единственный знак, способный в той или иной мере найти взаимопонимание со всеми знаками зодиака, но особенное счастье находит со Скорпионом, Девой, Козерогом, Рыбами.</p>

        </div>
    </div>
</body>