<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static\assets\styles.css">
    <title>Козерог</title>
    <header>
        <center>
            <h1>КОЗЕРОГ</h1>
        </center>
    </header>
</head>
<body>
    <div class="asd">
        <div class="txt">
            <center><h1 class="xarki">Темперамент и характер Козерога</h1></center>
            <p>Козерог - дотошный, умный, деятельный</p>
            <p>Знак Земной стихии, Козерог обладает даром не терять из виду главную цель и долго жить. Целеустремленность, стойкость в трудностях, ответственность — это сильные качества представителей этого знака. Козерог не боится одиночества, готов переносить любые житейские трудности, преодолеть любые препятствия. Свои глубокие чувства предпочитает никому не открывать, с трудом близко сходится с людьми и не любит терять дружеские связи. Если Козерогом кто-то пренебрег, то никогда не прощает и не возвращается.</p>
            <p>Но всегда готов оказать немалую помощь на деле, даже если не знаком с человеком лично. Основной целью типичного Козерога является достижение максимально высокого ранга относительно условий личного старта.</p>
            <center><h2 class="temp">Темперамент и характер Козерога</h2></center>
            <p>Свой личный рост Козерог строит на базе превосходства над другими знаками зодиака в части управления процессами. Без эмоций, требуя соблюдения дисциплины, Козерог может сконструировать жизнеспособную структуру и наладить поступление прибыли. Козерог особенно ценен на крупном производстве, в качестве руководителя или директора, в армии — в качестве полководца, в управлении страной или финансовой компании.</p>
            <p>Они выделяются амбициозностью и стойкостью. Козероги стараются избегать двусмысленных ситуаций и прямых конфликтов. Такая позиция помогает им обходиться в жизни без явных врагов. Козероги предпочитают все держать в себе: не делиться душевным состоянием с окружающими, также как и не высказывать открыто негатив. К результату они движутся упрямо и ровно, используя всевозможные доводы, тактику и стратегии. Ведь Козероги — целеустремленные, жесткие аналитики. Внешне они спокойные, немногословные, отстраненные. Как никто, умеют совладать с эмоциями и подчинять их логике и разуму. </p>
            <center><h3 class="storoni">Сильные и слабые стороны Козерога</h3></center>
            <p>Обладающие природным чувством времени, стойкие спортсмены, любящие риск и отважные исследователи пределов возможного, Козероги увлекаются автомобильными гонками, альпинизмом, морскими видами спорта, но и музыкальны и чувствительны к прекрасному. Постоянны в привычках, в чувствах, нуждаются в сохранении традиционного с детства домашнего уклада.</p>
            <p>Высоко ценят свои чувства, держат их при себе, могут быть жестоки и агрессивны, если их задеть за живое или предать. Измен не терпят, выносят обвинительный приговор и откладывают вторую попытку серьезных отношений на зрелость. Зависимость от чего-либо, от каких-либо отношений считает слабостью, и, каким-то образом, Козерогу удается не показывать свою боль и разочарование окружающим. Козероги обоего пола ждут от жизни волнующих впечатлений и ненасытны как в вопросах любви, так и в деятельности.</p>
            <p>Неразвитые духовно Козероги — обычно зануды и манипуляторы, но Козерог реально изменяется с годами, поэтому фаза занудства обычно непродолжительна.</p>
            <center><h4 class="love">Любовь и совместимость</h4></center>
            <p>Очень придирчивы к партнеру и никогда не простят измены. Часто оценивают спутника, опираясь на логику и практические соображения. Ищут пару среди близких по духу, обращая внимание на ум и направление мысли. В отношениях ценят спокойствие, но при этом они умеют погружаться в чувства с головой.</p>
            <p>К вопросу партнерства Козерог подходит кардинально — его не интересуют поверхностные и одноразовые связи. Поэтому избранник должен соответствовать четко определенным критериям. Ему нужен партнер по жизни — с похожими целями и ценностями, честный и трудолюбивый. При этом отличную пару для Козерога составят люди более эмоциональные, чем он сам, так как не привык выставлять чувства напоказ.</p>
            <p>Он всегда будет подозрителен, ревнив и не так романтичен, зато более надежного и стабильно спутника трудно найти. Самым удачным будет брак Козерога со Скорпионом, но многое будет зависеть от индивидуальных черт партнера.</p>
            <p>Совместимость Козерога со знаками зодиака</p>
            <ul>              
                <li>Козерог и Овен - 58%</li>
                <li>Козерог и Телец - 95%</li>
                <li>Козерог и Близнецы - 72%</li>
                <li>Козерог и Рак - 63%</li>
                <li>Козерог и Лев - 88%</li>
                <li>Козерог и Дева - 49%</li>
                <li>Козерог и Весы - 45%</li>
                <li>Козерог и Скорпион - 64%</li>
                <li>Козерог и Стрелец - 40% </li>
                <li>Козерогон и Козерог - 84% </li>
                <li>Козерог и Водолей - 78% </li>
                <li>Козерог и Рыбы - 91%</li>         
            </ul> 
            <p>Подходящим партнером для Козерога станет Телец. Крепким может быть союз и с представителями Земли — Девами или с Весами. Решительно не стоит строить отношения с Овнами, Водолеями, Близнецами, Львами.</p>
        </div>
    </div>
</body>