<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static\assets\styles.css">
    <title>Близнецы</title>
    <header>
        <center>
            <h1>БЛИЗНЕЦЫ</h1>
        </center>
    </header>
</head>
<body>
    <div class="asd">
        <div class="txt">
            <center><h1 class="xarki">Близнецы — характеристика знака зодиака</h1></center>
            <p>Близнецы - любопытный, нежный, добрый</p>
            <p>Знак подвижного креста стихии Воздуха. Близнецы обладают сильным характером, энергичны, независимы и общительны. Коммуникабельны, с веселым характером и темпераментным любопытством. Близнецы легко устанавливают связи со множеством разноплановых людей. Интересные эрудированные собеседники, темпераментные и неутомимые, Близнецы живут активной и насыщенной жизнью, легко приспосабливаются к любой обстановке. Обеспечивают связи и потоки информации между людьми.</p>
            <center><h2 class="temp">Темперамент и характер Близнецов</h2></center>
            <p>Близнецы — интеллектуально одаренный знак. Часто они легко осваивают иностранные языки, талантливы в литературе и актерской профессии. Переменчивы во мнении, могут менять свое отношение несколько раз в день. Модники, следуют самым новейшим направлениям в обществе. Общительные и бесцеремонные выдумщики. С ними никогда не бывает скучно. Для Близнецов жизненно необходимо постоянно заниматься каким-то делом, они любят быть в центре внимания, вносят беспокойство и детский энтузиазм в любое собрание.</p>
            <p>Часто выражают мнение неопределенного большинства. Любят произносит пламенные речи, стараются избежать любой ответственности, поверхностно воспринимают большую часть происходящего.</p>
            <p>Умеют поддержать в трудную минуту, найдут выход из любого затруднительного положения. Часто не доводят начатое до конца, занимаются несколькими делами одновременно. Не выносят одиночества. </p>
            <center><h3 class="storoni">Сильные и слабые стороны Близнецов</h3></center>
            <p>В общении с близким окружением Близнецы бывают крайне резки, часто вмешиваются в чужие дела. Не умеют хранить тайны, сплетники. Умеют шутить, им присуще легкое чувство юмора и наблюдательность, но часто допускают бестактность. Близнецам необходимы частые перемены круга общения, рода занятий. Близнецы быстро удовлетворяют свое любопытство, переключают внимание на новую порцию информации, которой щедро делятся с другими. Влюбчивы. В любви ищут доверительного общения, внимания к себе.</p>
            <p>Способны на длительную привязанность, если встретят человека, изменчивого как они сами. Беспорядочные расходы, присущие широкой натуре знака Близнецы, приводят к материальной нестабильности. В течение жизни могут несколько раз разбогатеть и обеднеть. Близнецы могут тренировать концентрацию, развить самодисциплину и победить постоянную неуверенность в себе, которая делает их неврастениками. Они постоянно меняются, когда преодолевают свои недостатки — достигают высоких целей.</p>
            <center><h4 class="love">Любовь и совместимость</h4></center>
            <p>Переменчивые и веселые Близнецы непостоянны в отношениях. Они быстро загораются, но также быстро остывают и выходят на поиски новой любви. Влюбленность, свадьба, развод — на протяжении всей жизни Близнецы могут пройти по этому кругу несколько раз. В отношениях большое значение имеет общение с партнером, готовность к экспериментам. Они не переносят скуку, не способны на глубокую эмоциональную привязанность, и не терпят ограничения свободы.</p>
            <p>Совместимость Близнецов со знаками зодиака</p>
            <ul>              
                <li>Близнецы и Овен - 51%</li>
                <li>Близнецы и Телец - 63%</li>
                <li>Близнецы и Близнецы - 75%</li>
                <li>Близнецы и Рак - 57%</li>
                <li>Близнецы и Лев - 48%</li>
                <li>Близнецы и Дева - 56%</li>
                <li>Близнецы и Весы - 73%</li>
                <li>Близнецы и Скорпион - 60%</li>
                <li>Близнецы и Стрелец - 66% </li>
                <li>Близнецы и Козерог - 86% </li>
                <li>Близнецы и Водолей - 89% </li>
                <li>Близнецы и Рыбы - 38%</li>         
            </ul>
            <p>Больше всего Близнецам подходят огненные знаки: Овны, Стрельцы и Львы.</p>

        </div>
    </div>
</body>