<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static\assets\styles.css">
    <title>Лев</title>
    <header>
        <center>
            <h1>ЛЕВ</h1>
        </center>
    </header>
</head>
<body>
    <div class="asd">
        <div class="txt">
            <center><h1 class="xarki">Лев — характеристика знака зодиака</h1></center>
            <p>Лев - горделивый, самоуверенный</p>
            <p>Фиксированный знак стихии Огня, Лев обладает даром созидания и настойчивостью в достижении своих целей. Это деятельный человек, стремящийся к успеху и популярности. Сильная, чувствительная и любящая натура, часто попадает под влияние эмоций и чувств. Лев великодушен, решителен и храбр. Самообладание и амбициозность являются сильными чертами этого знака. Не равнодушен к вниманию, лести и роскоши.</p>
            <center><h2 class="temp">Темперамент и характер Льва</h2></center>
            <p>У Львов есть склонность к управлению — это сильные личности, настроенные на завоевание мира.</p>
            <p>Лев стремится к вершине успеха и достигает ее потому, что знает, чего хочет. Его характер настолько непредсказуем, насколько и силен. Знак невероятно обаятельный, яркий, любящий внимание. Льву важно находиться среди людей и знать их мнение. При этом он четко обозначает свою позицию и не боится показаться странным. Львы очень изобретательны, им нравится узнавать новое и мотивировать близких на свершения. Они не боятся брать на себя ответственность, а еще никогда не останавливаются перед трудностями. Жизненные сложности наоборот закаляют их и делают еще сильнее. </p>
            <p>Внешняя привлекательность, харизма и обаяние делают Льва любимцем публики. Он, как лидер, умеет вести за собой и помогает тем, кто слабее. По его принципам, побеждать надо с помощью упорства и стараний, не прибегая к обходным путям. </p>
            <center><h3 class="storoni">Сильные и слабые стороны Льва</h3></center>
            <p>Несмотря на то, что Лев обладает массой положительных качеств и редко сдается перед неудачами, у него есть и слабые стороны.</p>
            <p>Эгоизм зачастую не дает Льву проявляться в любовных отношениях, доверять партнеру. Представители этого знака зацикливаются на себе и плохо воспринимают критику. Им кажется, что окружающие таким образом хотят их задеть. Иногда поток энергии Льва не дает ему заниматься делами спокойно, никуда не торопясь. Огонь внутри настраивает его на постоянные перемены, реализация которых занимает много времени и сил. Лев злопамятен, не терпит лжи и притворства, ему важно окружать себя только проверенными людьми.</p>
            <p>Внутренняя сила и любовь к жизни делает из Льва человека, который никогда не сдается, помогает другим, не забывая о себе. Он открыт приключениям, при этом спокоен и в сложные моменты собран. Знаку зодиака присуща уверенность, решительность, упорство. Львы талантливы, не боятся проявляться — они стремятся к лучшему, но не забывают о простых прелестях жизни.</p>
            <center><h4 class="love">Любовь и совместимость</h4></center>  
            <p>В любви Льва можно утонуть. Представители знака очень романтичные личности, любящие не только получать комплименты, но и делать их.</p>
            <p>Лев — генератор любви. Он делится ей со всеми, но необычайно много любви с его стороны получает именно партнер и другие члены семьи. Харизма и темпераментность, яркость и огонь в глазах — Львы любвеобильны, романтичны, не боятся проявлять себя в отношениях, погружаться в мир партнера. Им нравится, когда любимый человек делает комплименты, хвалит, помогает в чем-то. При этом Лев больше привык отдавать, но из-за большого количества внутренней любви сохраняется баланс. Даже когда представитель знака проявляет свои чувства, ему комфортно и спокойно. Львы стремятся к созданию семьи, рождению детей. Им сложно представить свою жизнь без любви. Часто случается так, что Лев не ищет любовь, а она находит его — в отношениях партнерам главное не растворяться друг в друге, чаще прислушиваться и принимать особенности характера любимого человека. </p>
            <p>Совместимость Льва со знаками зодиака</p>
            <ul>              
                <li>Лев и Овен - 49%</li>
                <li>Лев и Телец - 53%</li>
                <li>Лев и Близнецы - 43%</li>
                <li>Лев и Рак - 94%</li>
                <li>Лев и Лев - 45%</li>
                <li>Лев и Дева - 68%</li>
                <li>Лев и Весы - 69%</li>
                <li>Лев и Скорпион - 78%</li>
                <li>Лев и Стрелец - 88% </li>
                <li>Лев и Козерог - 79% </li>
                <li>Лев и Водолей - 68% </li>
                <li>Лев и Рыбы - 43%</li>         
            </ul>
            <p>Львы совместимы со всеми воздушными знаками – Весами, Водолеями и Близнецами. Другие знаки, совместимые со Львом – представители огненной стихии, т.е. Овны и Стрельцы.</p>

        </div>
    </div>
</body>