<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static\assets\styles.css">
    <title>Весы</title>
    <header>
        <center>
            <h1>ВЕСЫ</h1>
        </center>
    </header>
</head>
<body>
    <div class="asd">
        <div class="txt">
            <center><h1 class="xarki">Весы — характеристика знака зодиака</h1></center>
            <p>Весы - дипломатичный, артистичный, интеллигентный</p>
            <p>Обаятельные, дружелюбные, сомневающиеся — такими словами обычно описывают характер людей, рожденных под знаком Весов.</p>
            <p>Единственный неодушевленный символ в зодиакальном круге, Весы являются вторым знаком стихии Воздуха. Отличительной чертой представителей этого знака является стремление к гармонии во всем. Чувствительные к прекрасному, прирожденные дипломаты, обладающие стойкостью духа и несгибаемой волей к победе в любом соперничестве, Весы часто выступают в роли судей, а также юристов на всех уровнях. Постоянство, надежность и созидательная сила — лучшие качества этого знака.</p>
            <center><h2 class="temp">Темперамент и характер Весов</h2></center>
            <p>Рожденные под покровительство Венеры Весы — утонченные эстеты, творцы, обладатели особого взгляда на мир. Они спокойны, рассудительны, дипломатичны, обладают острым чувством справедливости. Это один из самых комфортных в общении знаков зодиака. Весам часто не хватает уверенности в себе и решительности.</p>
            <p>Стремление все оценивать, взвешивать и требовать равноправия делает их сложными партнерами как в бизнесе, так и в любви. Колебания и сомнения, трудности с принятием решения, безостановочный поиск лучшего варианта часто мучительно сопровождают Весы во всех областях жизни. Бесконечное число точек зрения на одну проблему часто раздражает близких Весам людей, потому что таким образом Весы стараются отложить решение и переложить часть ответственности на чужие плечи.</p>
            <p>Весы часто обладают привлекательной внешностью, приятными манерами в общении, аккуратны и последовательны. Если их разозлить, то можно увидеть Весы совсем с другой стороны - как упрямых, агрессивных борцов за справедливость. Им принадлежит реальная власть закона, хотя сами представители этого знака часто сознательно его нарушают. Весы прекрасные организаторы, управленцы, законодатели, юристы, художники и режиссеры.</p>
            <center><h3 class="storoni">Сильные и слабые стороны Весов</h3></center>
            <p>Нерешительность и рассудочность в вопросах любви можно считать основными недостатками Весов. Слишком строгие оценки поступков партнера, стремление выносить суждения по поводу и без него, отстраненность наблюдателя делают из Весов невыносимых в личном плане людей. Те качества, которые наиболее востребованы в социуме, крайне препятствуют достижению близости с любимым человеком.</p>
            <p>К достоинствам Весов можно отнести обаяние, дружелюбие, общительность, дипломатичность, справедливость, честность, тактичность, креативность, острый ум, логика, прекрасный вкус. </p>
            <center><h4 class="love">Любовь и совместимость</h4></center>
            <p>Весы не любят одиночества, атмосфера влюбленности и романтики для них крайне важна. Но выбор партнера или партнерши становится непростой задачей. Причиной тому являются и завышенные требования, и свойственное знаку неумение принимать решения. Они долго сомневаются, изводя влюбленного в них человека ожиданием.</p>
            <p>Склонны идеализировать другого и потом разочаровываться. С партнером Весы в полной мере раскрывают свою романтичность и чувственность, хранят ему верность, но не отказываются от флирта. Ревнивцам с ними будет нелегко. Весы не потерпят потребительского отношения и попыток прогнуть под себя — после такого они просто уходят.</p>
            <p>Совместимость Весов со знаками зодиака</p>
            <ul>              
                <li>Весы и Овен - 58%</li>
                <li>Весы и Телец - 56%</li>
                <li>Весы и Близнецы - 66%</li>
                <li>Весы и Рак - 74%</li>
                <li>Весы и Лев - 89%</li>
                <li>Весы и Дева - 61%</li>
                <li>Весы и Весы - 69%</li>
                <li>Весы и Скорпион - 64%</li>
                <li>Весы и Стрелец - 87% </li>
                <li>Весы и Козерог - 49% </li>
                <li>Весы и Водолей - 90% </li>
                <li>Весы и Рыбы - 45%</li>         
            </ul>
            <p>Весы имеют хорошую сочетаемость с представителями своего знака зодиака, Близнецами, Львом, Стрельцом и Водолеем. Непростой союз складывается с Тельцом, Скорпионом и Рыбами.</p>
        </div>
    </div>
</body>