<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static\assets\styles.css">
    <title>Рыбы</title>
    <header>
        <center>
            <h1>РЫБЫ</h1>
        </center>
    </header>
</head>
<body>
    <div class="asd">
        <div class="txt">
            <center><h1 class="xarki">Рыбы — характеристика знака зодиака</h1></center>
            <p>Рыбы - творческий, чувствительный, артистичный</p>
            <p>Рыбы закрывают зодиакальный круг, представляя собой знак стихии Воды. Это мудрые и восприимчивые люди, отзывчивость которых часто приводит их к общению с манипуляторами. Подверженность чужому влиянию, высочайшая среди знаков зодиака способность к адаптации в любой окружающей обстановке, стойкость перед житейскими трудностями отличает типичных Рыб.</p>
            <p>Хорошо развитая от природы интуиция позволяет Рыбам приспособиться к любому общественному порядку, быть своим в любой среде, находить наилучшие выходы из затруднительных положений и устанавливать деловые связи с неизменной выгодой для себя.</p>
            <center><h2 class="temp">Темперамент и характер Рыб</h2></center>
            <p>Рыбы — утончённые натуры, отличающиеся чувственностью и проницательностью. Они всегда готовы прийти на помощь и поддержать в трудную минуту. Иногда отзывчивость делает их жертвами манипуляторов, но благодаря врождённой интуиции удаётся обернуть ситуацию в свою пользу, взяв всё под контроль.</p>
            <p>Кроме того, умение подчинять помогает Рыбам постоянно извлекать выгоду из общения. Однако, в силу своей мягкотелости, даром манипулятора они пользуются нечасто. Наоборот, чаще готовы жертвовать собой ради других.</p>
            <p>Рыбы — очень сильный знак, представители этого знака всегда находят выход из любой критической ситуации не только для себя, но и для других,. Рыбы могут быть и очень обеспеченными людьми, так и нищими из принципа равенства и всеобщего братства.</p>
            <center><h3 class="storoni">Сильные и слабые стороны Рыб</h3></center>
            <p>Решительность и настойчивость не являются сильными сторонами этого знака. Уклончивость, отсутствие самодисциплины, потакание своим и чужим слабостям, склонность избегать ответственности за свои поступки, а также отсутствие моральных границ, часто приводит Рыб к отрицанию реальности с помощью алкоголя или наркотиков. Но если вовремя приобщить Рыбу к высоким идеалам, то такой человек всегда будет незаметно облегчать страдания окружающих, помогать близким состраданием и сочувствием.</p>
            <p>Главным достоинством Рыб в наше время является честность. Даже если в некоторых случаях будет выгодно солгать, в силу их добропорядочности этого не случится.</p>
            <p>Трудолюбие присуще Рыбам, но только тогда, когда никто не видит. Так как представители этого знака — творческие натуры, для работы им нужно уединиться. Водные знаки не любят делать что-то напоказ, поэтому и трудиться привыкли в одиночку.</p>
            <center><h4 class="love">Любовь и совместимость</h4></center> 
            <p>В любви Рыбы уходят в партнёра с головой, иногда вплоть до одержимости. По этой причине очень трудно переживают разрывы и ссоры.</p>
            <p>Если представитель этого знака по-настоящему влюбляется, то он готов нести в себе эти чувства всю жизнь. Но в случае угасания интереса, подобно рыбам выскользнут из любых, даже самых длительных отношений.</p>
            <p>Верность, хоть и не является сильным качеством этого знака, но встречается часто, наподобие любви пары двух лебедей. Именно человек Рыб способен пронести первую любовь через всю жизнь. Если Рыбы не хотят продолжать отношения, то на них можно смело ставить крест. Рыбы ускользнут из любых нежелательных отношений, ловко заметая следы, часто оставляя партнера в должниках - материального или этического толка.</p>
            <p>Совместимость Рыб со знаками зодиака</p>
            <ul>              
                <li>Рыбы и Овен - 45%</li>
                <li>Рыбы и Телец - 92%</li>
                <li>Рыбы и Близнецы - 39%</li>
                <li>Рыбы и Рак - 72%</li>
                <li>Рыбы и Лев - 52%</li>
                <li>Рыбы и Дева - 63%</li>
                <li>Рыбы и Весы - 68%</li>
                <li>Рыбы и Скорпион - 65%</li>
                <li>Рыбы и Стрелец - 82% </li>
                <li>Рыбы и Козерог - 69% </li>
                <li>Рыбы и Водолей - 46% </li>
                <li>Рыбы и Рыбы - 76%</li>         
            </ul>
            <p>Если Рыбы хотят полностью раствориться в романтике, то должны выбирать партнера - Рака. А отношения со Скорпионом будет волнующими и загадочными, но, правда, недолгими. Что касается работы, то Рак и Скорпион — не лучшие партнеры для Рыб. Хуже всего Рыбы сходятся со Львами и Овнами, причем во всех сферах жизни.</p>
        </div>
    </div>
</body>