<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static\assets\styles.css">
    <title>Стрелец</title>
    <header>
        <center>
            <h1>СТРЕЛЕЦ</h1>
        </center>
    </header>
</head>
<body>
    <div class="asd">
        <div class="txt">
            <center><h1 class="xarki">Стрелец — характеристика знака зодиака</h1></center>
            <p>Стрелец - авантюрный, творческий, волевой. Знак зодиака независимых, общительных и дружелюбных людей. Стрельцы — натуры порывистые и харизматичные</p>
            <p>Стрелец — знак стихии Огня, обладает ярко выраженной харизмой лидера, стремится к образованию, энергичен и увлечен идеей изменить весь мир. Всю жизнь Стрелец стремится к популярности, к высокой оценке своей работы и достижений со стороны близких людей. Стрелец почти всегда добивается успеха хотя бы в одном из многочисленных видов своей деятельности. У энергичного по натуре Стрельца обычно несколько специальностей, широкий спектр интересов и деловых связей.</p>
            <center><h2 class="temp">Темперамент и характер Стрельца</h2></center>
            <p>Внимание к общечеловеческим проблемам, интерес к философии часто делает Стрельца духовным гуру, преподавателем в университете, известным политиком. Интерес к иным культурам, потребность в миссионерской деятельности (распространение духовных идей), желание передать знания и идеи (заставляют Стрельца участвовать) находят воплощение в жизни Стрельца в виде участия в различных общественных акциях, религиозного и политического толка, активное участие в социальной жизни.</p>
            <p>Стрельцы редко стеснительны, сильна потребность быть на виду, часто это прекрасные танцоры и артисты. Отличные спортсмены, атлеты, Стрельцы обладают превосходной координацией, выносливы, но нетерпеливы.</p>
            <p>Огненная стихия оказывает сильное воздействие на характер Стрельца. Эти излучающие оптимизм люди заряжают окружающих своей энергией. Из всех знаков своего тригона Стрелец наиболее благоразумен. Он не кидается очертя голову в авантюры, как безрассудные Овны, и не зависает в мечтах, как Львы. Стрелец — знак зодиака энергичных и деятельных людей, которые не будут ждать у моря погоды. Жизненные блага они зарабатывают сами, проявляя чудеса трудолюбия.</p>
            <center><h3 class="storoni">Сильные и слабые стороны Стрельца</h3></center>
            <p>Стрельцов природа наделила жизнерадостной натурой и стойкостью. Эти черты помогают им преодолевать трудности, не падая духом от неудач. Стрельцы всегда открыты навстречу новому, не страшатся перемен — они уверены, что дальше будет только интереснее.</p>
            <p>Уязвимой пятой Стрельцов является потребность в признании, а порой и чрезмерный эгоизм. Желание постоянно находиться в центре внимания порождает синдром всезнайки. Суетливость и нервозность без видимой причины могут испортить идеальный образ Стрельца.</p>
            <p>Одна из слабых сторон Стрельца — неумение планировать. Их девиз — здесь и сейчас, что порой приводит к промахам. Чрезмерная импульсивность Стрельцов из-за которой они часто совершают необдуманные поступки, выходит им боком. Они сначала скажут или сделают, и только потом «включат голову».</p>
            <center><h4 class="love">Любовь и совместимость</h4></center>
            <p>Стрельцы очень влюбчивы, они готовы быстро увлекаться и вспыхивать от новых чувств. Главным минусом этих романтиков является непостоянство. Стрельцы могут долгое время идеализировать партнера, а потом по щелчку «прозреть». Если несчастный изгнан с пьедестала, то ему не поздоровится.</p>
            <p>Желание добра для всех обделяет личную жизнь Стрельца, которого часто не понимают близкие. Стрелец склонен идеализировать партнера, но стоит тому упасть с пьедестала (совершить, как Стрелец отправится на поиски новой музы. Сам стремится поделиться знаниями с любимым, показать весь мир. Из недостатков стоит отметить, что Стрельцы обидчивы, бывают очень грубыми или резкими в конфликтах. Не забывают своих обид, провокаторы в ссорах. Часто ревнивы без повода.</p>
            <p>Совместимость Стрельца со знаками зодиака</p>
            <ul>              
                <li>Стрелец и Овен - 61%</li>
                <li>Стрелец и Телец - 49%</li>
                <li>Стрелец и Близнецы - 71%</li>
                <li>Стрелец и Рак - 61%</li>
                <li>Стрелец и Лев - 93%</li>
                <li>Стрелец и Дева - 53%</li>
                <li>Стрелец и Весы - 85%</li>
                <li>Стрелец и Скорпион - 95%</li>
                <li>Стрелец и Стрелец - 91% </li>
                <li>Стрелец и Козерог - 66% </li>
                <li>Стрелец и Водолей - 89% </li>
                <li>Стрелец и Рыбы - 88%</li>         
            </ul>
            <p>Гармоничные отношения складываются с Весами и Водолеями. Легкомыслие, свободолюбие, мечтательность и страсть к путешествиям – вот что объединяет их. Как никто другой поймет Стрельца представитель его стихии. Оптимальный вариант – это Овен, а вот отношений с аналогичным знаком лучше избегать. Два настолько активных и энергичных знака долго не смогут находиться рядом. И все-таки идеальная пара для такого знака, как Стрелец, – это Лев.</p>
        </div>
    </div>
</body>