<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static\assets\styles.css">
    <title>Скорпион</title>
    <header>
        <center>
            <h1>СКОРПИОН</h1>
        </center>
    </header>
</head>
<body>
    <div class="asd">
        <div class="txt">
            <center><h1 class="xarki">Скорпион — характеристика знака зодиака</h1></center>
            <p>Скорпион - чарующий, страстный, независимый, таинственные, загадочные, опасные</p>
            <p>Скорпион фиксированный знак стихии Воды. Скорпион обладает природным магнетизмом и сильным характером. Выносливый, сдержанный в словах и эмоциях, Скорпион умеет хранить секреты и ценит верность. Скорпион — это знак внутренних изменений, преодоления слабости, борьбы до победного конца. Рожденный под этим знаком всю жизнь совершенствуется сам и стремится изменить мир к лучшему.</p>
            <center><h2 class="temp">Темперамент и характер Скорпиона</h2></center>
            <p>Человек, рожденный под знаком Скорпиона, сочетает в себе противоречивые черты. Он может быть сдержанным в проявлении чувств и даже казаться холодным, но в душе это очень эмоциональный человек. Он прямолинеен, умен, не лезет за словом в карман. Обладает невероятной стойкостью, с достоинством выдерживает любые испытания и идет к цели несмотря ни на что. Честолюбив и амбициозен. Скорпион вспыльчивый, злопамятный и обидчивый, но при этом бескорыстный, способный искренне порадоваться за близких людей.</p>
            <p>Скорпион незаменим в тех случаях, когда другие сдались. Он обладает стойкостью духа и физической выносливостью. Знак постоянного креста, Скорпион любит доводить начатое до конца, трудолюбивый и целеустремленный человек. Любит власть и деньги. Всегда дожидается своего звездного часа, когда сможет действовать во всю мощь. Терпелив, когда ему это необходимо. Скорпиона трудно понять с первого взгляда, поверхностного общения будет недостаточно, чтобы постичь его глубокую эмоциональность.</p>
            <p>Скорпион всегда ищет полноты ощущений, стремится превозмочь пограничные состояния психики и тела, чтобы победить несовершенство человеческой природы.</p>
            <p>Обычно не зацикливается на недостатках и препятствиях, обращает их себе на пользу. Чтобы заслужить доверие Скорпиона нужно пройти проверку в экстремальной ситуации, доказать преданность. Опасный соперник, который действует за счет силы противника и не прощает предательства. Скорпион — скептик и пессимист, долго колеблется и проверяет свои чувства, прежде чем выбрать. Потом склонен отдаваться целиком и любимому делу, и любимому человеку.</p>
            <center><h3 class="storoni">Сильные и слабые стороны Скорпиона</h3></center>
            <p>Способен на коварство. Любит риск. Скорпион постоянно занимается саморазрушением и самоедством, если не находит применения. Отключается и расслабляется Скорпион с большим трудом. Бессонница — частое явление, вызванное постоянным внутренним напряжением. Работа на износ, если Скорпион захвачен идеей или обещанием дохода, отрицательно влияет на здоровье и отношения с близкими. Трудный партнер, ревнивый и замкнутый на себе, Скорпион долго помнит обиды, с трудом идет на примирение.</p>
            <p>Достоинства Скорпиона: сила характера, стойкость, упорство, целеустремленность, амбициозность, верность, бескорыстность, терпение, стремление к совершенству, сильная интуиция.</p>
            <center><h4 class="love">Любовь и совместимость</h4></center> 
            <p>Нет более страшной силы, чем влюбленный Скорпион. Он способен снести все преграды, перевернуть жизнь (свою и чужую). В этот момент верх над ним берут эмоции. Избранника или избранницу ждут не просто качели, а настоящие американские горки. С одной стороны, Скорпион готов носить своего партнера на руках, исполнять все его капризы. Он окружит его заботой и любовью, будет делиться самым дорогим. С другой стороны, Скорпион невероятный собственник и ревнивец, которому хочется спрятать свое сокровище ото всех. Роман с ним будет эмоциональным, но чем он закончится, предсказать невозможно.</p>
            <p>Совместимость Скорпиона со знаками зодиака</p>
            <ul>              
                <li>Скорпион и Овен - 53%</li>
                <li>Скорпион и Телец - 84%</li>
                <li>Скорпион и Близнецы - 58%</li>
                <li>Скорпион и Рак - 68%</li>
                <li>Скорпион и Лев - 92%</li>
                <li>Скорпион и Дева - 72%</li>
                <li>Скорпион и Весы - 54%</li>
                <li>Скорпион и Скорпион - 38%</li>
                <li>Скорпион и Стрелец - 96% </li>
                <li>Скорпион и Козерог - 54% </li>
                <li>Скорпион и Водолей - 52% </li>
                <li>Скорпион и Рыбы -87%</li>         
            </ul>
            <p>Лучшие союзники для Скорпионов тоже принадлежат водной стихии, с Рыбами или Ракам они могут составить прекрасную партию. Компания из двух Скорпионов обещает быть жаркой, а их битвы нескончаемыми. Скорпиону подойдут Козероги, Тельцы или Девы — их терпения хватит, чтобы вынести сложный характер, и даже понять Скорпиона.</p>
        </div>
    </div>
</body>