<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static\assets\styles.css">
    <title>Телец</title>
    <header>
        <center>
            <h1>ТЕЛЕЦ</h1>
        </center>
    </header>
</head>
<body>
    <div class="asd">
        <div class="txt">
            <center><h1 class="xarki">Телец — характеристика знака зодиака</h1></center>
            <p>Телец - основательный, музыкальный, практичный</p>
            <p>Фиксированный знак стихии Земли, созидатель и гурман, Телец воплощает собой принцип любви к жизни и ее благам, а также имеет качества упорства и практичности. Телец умеет и любит работать, терпеливо создает себе комфортные условия для жизни. Способен долго и терпеливо ждать созревания подходящих условий. Терпение Тельца удивительно, ему трудно учиться чему-то новому и приспосабливаться к незнакомым условиям.</p>
            <p>Очень восприимчив ко всему прекрасному, обладает сильной интуицией, склонен анализировать ситуацию, прежде, чем совершать поступки. Дар Тельца — воплощать красивые мечты в реальность.</p>
            <center><h2 class="temp">Темперамент и характер Телец</h2></center>
            <p>Телец несколько пассивный знак, который скорее ждет подходящего случая, чем активно охотится за возможностями. Способен долго и тяжело работать, самый трудолюбивый знак зодиака, если найдет подходящий способ самовыражения. Любит красивые вещи, все оценивает по высоким критериям, даже поступки может счесть некрасивыми. Ярко выраженная практичность и житейская мудрость, неторопливость делает Тельца основательным домохозяином.</p>
            <p>Почти всегда производит приятное впечатление, обаятелен, но в душе скептик и мизантроп, имеет крепкие нервы, хорошее чувство юмора, любит подтрунивать над собой. Ценят ощущение безопасности, любят гарантии, заболевают в не комфортной обстановке. Обладает даром эмпатии, аккумулирует силу природы, может стать медиумом, психоаналитиком или целителем, если разовьет в себе чувство сопереживания. Нуждается в сексуальном равновесии, ищет партнера, который удовлетворит чувственные ожидания.</p>
            <p>Они скрытны, когда речь идет об их личных делах, даже если они и разговорчивы. Великодушны, но в тоже время жадны и собственники. Необходимо учиться правильному балансу: "давать - брать". Тельцам присущи здравый рассудок, простота, прагматичная интеллектуальность. Чувства у Тельца острее, чем у других знаков.</p>
            <center><h3 class="storoni">Сильные и слабые стороны Тельца</h3></center>
            <p>Лень, любовь к удовольствиям, упрямство — слабые стороны натуры Тельца. Плохо переносит неприятные события и дурные компании. Сохраняет внешнее спокойствие, но при этом сдерживает внутреннюю агрессию. Не может ничем заниматься, бесконечно жалуется близким, пока обстоятельства не изменятся в лучшую сторону. Гневлив и ревнив. Телец не покажет сразу, что было задето его уязвимое место, будет долго проверять, не показалось ли ему , что нарушены правила или приличия.</p>
            <p>Сдерживаемый гнев может прорваться в виде некрасивого скандала, выяснения отношений из-за пустяка. Но Телец всегда показывает лишь верхушку айсберга истинных мотивов. Может копить ради накопительства, быть жадным, ограниченным материальными интересами и косным в мышлении. Развитый Телец необычайно чувствителен и восприимчив к окружающим, способный психолог. Накопив достаточное количество знаний и информации, Телец может с помощью своей интуиции предвидеть будущее. Он — философ и мистик в душе.</p>
            <center><h4 class="love">Любовь и совместимость</h4></center>
            <p>В юности мечтают о любви, влюбляются в "Любовь" задолго до появления первого любовника. Когда это случается, им надо время, чтобы проснуться, открыться реальности, другой личности, пока их личность станет объектом любви. Страсть даже в более зрелые годы возникает не вдруг, а растет медленно и незаметно, но когда чувства заговорят, более чувственного знака нет. От своего выбора он не отступает. Для Тельцов чувства и желания - одно и тоже. Увлеченность у Тельцов полная: он идет до конца, независимо от того, сладок или горек этот конец. В любви Тельца не может остановить ни критика ни неудобство, ни дискомфорт, хотя в других отношениях Телец практичен.</p>
            <p>Совместимость Тельца со знаками зодиака</p>
            <ul>              
                <li>Телец и Овен -85%</li>
                <li>Телец и Телец - 89%</li>
                <li>Телец и Близнецы - 72%</li>
                <li>Телец и Рак - 79%</li>
                <li>Телец и Лев - 54%</li>
                <li>Телец и Дева - 76%</li>
                <li>Телец и Весы - 67%</li>
                <li>Телец и Скорпион - 89%</li>
                <li>Телец и Стрелец - 79% </li>
                <li>Телец и Козерог - 79% </li>
                <li>Телец и Водолей - 63% </li>
                <li>Телец и Рыбы - 91%</li>         
            </ul>
            <p>Лучшие союзы получаются с Рыбами, Козерогами, Раками и Девами.</p>
        </div>
    </div>
</body>