<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static\assets\styles.css">
    <title>Дева</title>
    <header>
        <center>
            <h1>ДЕВА</h1>
        </center>
    </header>
</head>
<body>
    <div class="asd">
        <div class="txt">
            <center><h1 class="xarki">Дева — характеристика знака зодиака</h1></center>
            <p>Дева - элегантный, организованный, добрый</p>
            <p>Дева — второй знак стихии Земли, олицетворяющий справедливость и чистоту. Дева воплощает принцип порядка, победу разума над чувствами, умение видеть целое в деталях. Дева больше других знаков зодиака стремится к совершенству во всем, учится всю жизнь, но также учит и других. Стремление к лучшему заставляет Деву подмечать изъяны во всем, что ее окружает, что требует исправления.</p>
            <p>На первый взгляд Дева может показаться скучной. Представители этого знака часто бывают замкнуты в себе, спокойны. Им не нравится находиться в больших компаниях и проводить время с теми, кого они не знают достаточно хорошо. Преданные и любящие Девы на деле совсем не скучные — их внутренний мир поразит любого, кто захочет поближе узнать такого человека.</p>
            <center><h2 class="temp">Темперамент и характер Девы</h2></center>
            <p>Не бойтесь довериться Деве — представитель знака всегда поддержит и встанет на вашу сторону, если что-то пойдет не так.</p>
            <p>Дева — настоящий реалист. Она смотрит на жизнь так, что та иногда кажется ей немного страшной. Но при этом Дева не боится брать ответственность, умеет управляться с деньгами и знает им цену. Ценности Дев часто не совпадают с ценностями большинства людей. Для них гораздо важнее порядок, стабильность, семья. При этом представитель знака очень чувствителен к энергии окружающих. Хоть разум и берет верх над чувствами, Деве часто необходимо время, чтобы прийти в себя после общения с большим количеством людей.</p>
            <p>Дева часто имеет красивую внешность, наделена музыкальным слухом и вокальными данными, обладает хорошим вкусом к вещам, избирательна в общении. Осторожна во всем, поэтому стараются следить за здоровьем, любят лечиться и лечить, часто мнительны, когда дело касается их самочувствия. Реалистично смотрят на жизнь, экономны, стремятся подстраховать себя накоплениями. От окружающих Дева будет требовать соблюдение чистоты в одежде и в речи.</p>
            <center><h3 class="storoni">Сильные и слабые стороны Девы</h3></center>
            <p>Рассудительные Девы нередко склонны к перфекционизму и требуют от других слишком много. При этом они понимающие и искренние.</p>
            <p>Сила Дев в том, что они редко ошибаются — ведь представители знака умеют просчитывать все свои шаги и избегать неловких ситуаций. Девы уверены, что не стоит тратить время на мечты, важно действовать прямо сейчас. Эта черта приводит их именно к той жизни, где они чувствуют себя максимально комфортно. Еще один отличительный плюс — надежность. Вы всегда можете обратиться за помощью, а Дева не пропадет из виду даже в трудных ситуациях.</p>
            <p>Некоторые считают Дев слишком критичными и назойливыми. Они любят совершенство и хотят, чтобы все вокруг тоже стремились к идеалу. Дева легко погружается в поток своих мыслей и зачастую ищет во всем подвох.</p>
            <center><h4 class="love">Любовь и совместимость</h4></center>
            <p>Деве не так просто признаться в своих чувствах, но она поистине ценит любовь и умеет любить.</p>
            <p>В отношениях Дева проявляется по-разному — она может быть открытой, свободной, управлять, находиться под защитой. В начале пути иногда возникают сложности в общении с партнером. Ведь Деве не так просто довериться даже когда она чувствует, что человек положительно настроен и хочет быть рядом. Может показаться, что Дева закрывается и боится вступать в отношения. Но это не так, представитель знака просто оценивает обстановку и пытается понять, как ему действовать.</p>
            <p>Девы готовы погружаться в любовь, отдавать ее, принимать, всячески поддерживать партнера. Для них важно, чтобы близкий человек делился личным, показывал, как ему важны эти отношения. Со временем Дева откроется и обретет свободу — тогда ей станет еще легче быть собой и просто находиться рядом с тем, кто понимает.</p>
            <p>Совместимость Девы со знаками зодиака</p>
            <ul>              
                <li>Дева и Овен - 39%</li>
                <li>Дева и Телец - 55%</li>
                <li>Дева и Близнецы - 54%</li>
                <li>Дева и Рак - 90%</li>
                <li>Дева и Лев - 76%</li>
                <li>Дева и Дева - 62%</li>
                <li>Дева и Весы - 62%</li>
                <li>Дева и Скорпион - 78%</li>
                <li>Дева и Стрелец - 78% </li>
                <li>Дева и Козерог - 58% </li>
                <li>Дева и Водолей - 38% </li>
                <li>Дева и Рыбы - 53%</li>         
            </ul>
            <p>Лучше всего с Девами смогут ужиться земные и водные знаки Зодиака. Козероги и Тельцы могут составить хорошую партию, а вот двум Девам лучше не жить под одной крышей, это приведет к постоянным придиркам и борьбе за право первенства.</p>

        </div>
    </div>
</body>