<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static/assets/styles.css" />
    <title>Знаки зодиака</title>
    <header>
      <center>
        <h1>ВАШ ЗНАК ЗОДИАКА</h1>
      </center>
    </header>
  </head>

  <body>
    <div class="zodiac">
      <a class="aries" , href="/aries">
        <span class="list1">
          <span class="oven">Овен</span>
          <span>Родились 21 марта – 20 апреля</span>
          <span> Стихия <span class="ogon">Огонь</span></span>
        </span>
      </a>
      <a class="taurus" , href="/taurus">
        <span class="list2">
          <span class="telets">Телец</span>
          <span>Родились 21 апреля – 21 мая</span>
          <span> Стихия <span class="zemlya">Земля</span></span>
        </span>
      </a>
      <a class="gemini" , href="/gemini">
        <span class="list3">
          <span class="two">Близнецы</span>
          <span>Родились 22 мая – 21 июня</span>
          <span> Стихия <span class="vosduh">Воздух</span></span>
        </span>
      </a>
      <a class="cancer" , href="/cancer">
        <span class="list4">
          <span class="rak">Рак</span>
          <span>Родились 22 июня – 22 июля</span>
          <span> Стихия <span class="voda">Вода</span></span>
        </span>
      </a>
      <a class="leo" , href="/leo">
        <span class="list5">
          <span class="lev">Лев</span>
          <span>Родились 23 июля – 23 августа</span>
          <span> Стихия <span class="ogon">Огонь</span></span>
        </span>
      </a>
      <a class="virgo" , href="/virgo">
        <span class="list6">
          <span class="deva">Дева</span>
          <span>Родились 24 августа – 22 сентября</span>
          <span> Стихия <span class="zemlya">Земля</span></span>
        </span>
      </a>
      <a class="libra" , href="/libra">
        <span class="list7">
          <span class="vesi">Весы</span>
          <span>Родились 23 сентября – 22 октября</span>
          <span> Стихия <span class="vosduh">Воздух</span></span>
        </span>
      </a>
      <a class="scorpio" , href="/scorpio">
        <span class="list8">
          <span class="skorp">Скорпион</span>
          <span>Родились 23 октября – 22 ноября</span>
          <span> Стихия <span class="voda">Вода</span></span>
        </span>
      </a>
      <a class="sagittarius" , href="/sagittarius">
        <span class="list9">
          <span class="strelec">Стрелец</span>
          <span>Родились 22 ноября – 21 декабря</span>
          <span> Стихия <span class="ogon">Огонь</span></span>
        </span>
      </a>
      <a class="capricorn" , href="/capricorn">
        <span class="list10">
          <span class="koza">Козерог</span>
          <span>Родились 22 декабря – 20 января</span>
          <span> Стихия <span class="zemlya">Земля</span></span>
        </span>
      </a>
      <a class="aquarius" , href="/aquarius">
        <span class="list11">
          <span class="vodol">Водолей</span>
          <span>Родились 21 января – 19 февраля</span>
          <span> Стихия <span class="vosduh">Воздух</span></span>
        </span>
      </a>
      <a class="pisces" , href="/pisces">
        <span class="list12">
          <span class="ribi">Рыбы</span>
          <span>Родились 20 февраля – 20 марта</span>
          <span> Стихия <span class="voda">Вода</span></span>
        </span>
      </a>
    </div>
    <div class="botautho">
      <a class="autho" href="/authorization"><span class="txtautho">Оставьте след в истории нашего сайта!</span></a>
    </div>
  </body>
</html>
